{
  "rdocConfigData": 1,
  "UIStyle": "",
  "Font_GlobalScale": 1.0,
  "Font_Family": "",
  "Font_MonoFamily": "",
  "Font_PreferMonospaced": false,
  "TextureViewer_ResetRange": false,
  "TextureViewer_PerTexSettings": true,
  "TextureViewer_PerTexYFlip": false,
  "EventBrowser_AddFake": true,
  "EventBrowser_ApplyColors": true,
  "Comments_ShowOnLoad": true,
  "Analytics_TotalOptOut": false,
  "Analytics_ManualCheck": true,
  "CheckUpdate_AllowChecks": true,
  "AllowGlobalHook": false,
  "AllowProcessInject": false,
  "RecentCaptureFiles": [
    "/home/user/captures/old1.rdc",
    "/home/user/captures/old2.rdc",
    "/home/user/captures/old3.rdc"
  ],
  "RecentCaptureSettings": [
    "/home/user/settings/cap_a.cap",
    "/home/user/settings/cap_b.cap"
  ],
  "DefaultCaptureSaveDirectory": "",
  "LastCaptureFilePath": ""
}