{
  "rdocConfigData": 1,
  "UIStyle": "",
  "Font_GlobalScale": 1.0,
  "Font_Family": "",
  "Font_MonoFamily": "",
  "Font_PreferMonospaced": false,
  "TextureViewer_ResetRange": false,
  "TextureViewer_PerTexSettings": true,
  "TextureViewer_PerTexYFlip": false,
  "EventBrowser_AddFake": true,
  "EventBrowser_ApplyColors": true,
  "Comments_ShowOnLoad": true,
  "Analytics_TotalOptOut": false,
  "Analytics_ManualCheck": true,
  "CheckUpdate_AllowChecks": true,
  "AllowGlobalHook": false,
  "AllowProcessInject": false,
  "RecentCaptureFiles": [
    "/home/user/captures/old_a.rdc",
    "/home/user/captures/old_b.rdc",
    "/home/user/captures/old_c.rdc",
    "/home/user/captures/old_d.rdc"
  ],
  "RecentCaptureSettings": [],
  "DefaultCaptureSaveDirectory": "",
  "LastCaptureFilePath": ""
}