{
  "rdocConfigData": 1,
  "UIStyle": "Dark",
  "Font_GlobalScale": 1.0,
  "TextureViewer_ResetRange": true,
  "TextureViewer_PerTexSettings": false,
  "TextureViewer_PerTexYFlip": false,
  "TextureViewer_ChannelsR": true,
  "TextureViewer_ChannelsG": true,
  "TextureViewer_ChannelsB": true,
  "TextureViewer_ChannelsA": true,
  "TextureViewer_RangeMin": 0.0,
  "TextureViewer_RangeMax": 1.0,
  "TextureViewer_MipLevel": 0,
  "TextureViewer_HexDisplay": false,
  "EventBrowser_ApplyColors": false,
  "EventBrowser_CollapseMarkers": false,
  "EventBrowser_ShowParameterNames": false,
  "EventBrowser_HideEmpty": false,
  "EventBrowser_Bookmarks": [],
  "BufferFormatter_ShowHex": false,
  "BufferFormatter_FixedStride": 0,
  "BufferFormatter_ShowByteRange": false,
  "PixelHistory_ShowFailures": false,
  "PixelHistory_ColorByPrimitive": false,
  "ShaderViewer_AutoStep": false,
  "Mesh_CurrentStage": "VSIn",
  "Mesh_ShowNormals": false,
  "Mesh_Wireframe": false,
  "Mesh_SolidShadeMode": "none",
  "Timeline_ShowDrawcalls": false,
  "PerformanceCounters_Active": [],
  "PerformanceCounters_ShowDescription": false,
  "Comments_ShowOnLoad": true,
  "Comments_FontSize": 10,
  "Comments_Monospaced": false,
  "CommentsPanel_History": [],
  "PythonShell_RecentFiles": [],
  "PythonShell_AutoLoad": false,
  "RemoteHosts": [],
  "AdbScabbardPath": "",
  "AlwaysReplayLocally": true,
  "RecentCaptureFiles": [],
  "RecentCaptureSettings": [],
  "DefaultCaptureSaveDirectory": "",
  "LastCaptureFilePath": ""
}
